<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.szgame.h5game">

    <application
        android:allowBackup="true"
        android:name=".GameApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        <activity android:name=".GameWebActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.Start"
                  android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data android:name="SZ_GAME_ID"
                   android:value="147"
            />

        <meta-data android:name="SZ_PACKAGE_ID"
                   android:value="147331073"
            />
    </application>

</manifest>