<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.szgame.h5game">

    <application
        android:name=".GameApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name_main"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        <activity
            android:name=".GameWebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Start">

        </activity>

        <meta-data
            android:name="SZ_GAME_ID"
            android:value="1067"/>
        <meta-data
            android:name="SZ_PACKAGE_ID"
            android:value="1067331533"/>

        <provider
            android:name="com.smwl.smsdk.X7Provider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/x7_provider_paths"/>
        </provider>

        <activity android:name=".SplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.Start"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>